<ion-header>
  <ion-navbar>
    <ion-title class="logo"><img src="assets/netflix-logo.png" width=100/></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding class='page-content'>
  <ion-buttons end class='search-bar'>
    <ion-searchbar #search (click)='searchMovie()' placeholder="Buscar"></ion-searchbar>
  </ion-buttons>
  <div padding>
    <h5>Populares</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor='let movie of popular'><img *ngIf="movie.poster_path" (click)='goToDetails(movie.id)' src="{{'https://image.tmdb.org/t/p/w200'+movie.poster_path}}"/></span>
    </ion-scroll>

    <h5>Mais Votado</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor="let movie of mais_votados"><img *ngIf="movie.poster_path" (click)="goToDetails(movie.id)" [src]="'https://image.tmdb.org/t/p/w200/' + movie.poster_path"></span>
    </ion-scroll>  

    <h5>Ação</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor="let movie of acao"><img *ngIf="movie.poster_path" (click)="goToDetails(movie.id)" [src]="'https://image.tmdb.org/t/p/w200/' + movie.poster_path"></span>
    </ion-scroll>  

    <h5>Comédia</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor='let movie of comedia'><img *ngIf="movie.poster_path" (click)='goToDetails(movie.id)' src="{{'https://image.tmdb.org/t/p/w200'+ movie.poster_path}}"/></span>
    </ion-scroll>  

    <h5>Drama</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor='let movie of drama'><img *ngIf="movie.poster_path" (click)='goToDetails(movie.id)' src="{{'https://image.tmdb.org/t/p/w200'+ movie.poster_path}}"/></span>
    </ion-scroll>  

    <h5>Animação</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor='let movie of animacao'><img *ngIf="movie.poster_path" (click)='goToDetails(movie.id)' src="{{'https://image.tmdb.org/t/p/w200'+ movie.poster_path}}"/></span>
    </ion-scroll>  

    <h5>Documentário</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor='let movie of documentario'><img *ngIf="movie.poster_path" (click)='goToDetails(movie.id)' src="{{'https://image.tmdb.org/t/p/w200'+ movie.poster_path}}"/></span>
    </ion-scroll>
  </div>
</ion-content>
