<ion-header>
  <ion-navbar>
    <ion-title class="logo"><img src="assets/netflix-logo.png" width=100/></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding class='page-content'>
  <div padding>
    <h5>Populares</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor="let filme of populares"><img *ngIf="filme.poster_path" (click)="goToDetails(filme)" [src]="'https://image.tmdb.org/t/p/w200/' + filme.poster_path"></span>
    </ion-scroll>

    <h5>Mais Votado</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor="let filme of mais_votados"><img *ngIf="filme.poster_path" (click)="goToDetails(filme)" [src]="'https://image.tmdb.org/t/p/w200/' + filme.poster_path"></span>
    </ion-scroll>  

    <h5>Ação</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor="let filme of acao"><img *ngIf="filme.poster_path" (click)="goToDetails(filme)" [src]="'https://image.tmdb.org/t/p/w200/' + filme.poster_path"></span>
    </ion-scroll>  

    <h5>Comédia</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor='let filme of comedia'><img *ngIf="filme.poster_path" (click)='goToDetails(filme)' src="{{'https://image.tmdb.org/t/p/w200'+ filme.poster_path}}"/></span>
    </ion-scroll>  

    <h5>Drama</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor='let filme of drama'><img *ngIf="filme.poster_path" (click)='goToDetails(filme)' src="{{'https://image.tmdb.org/t/p/w200'+ filme.poster_path}}"/></span>
    </ion-scroll>  

    <h5>Animação</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor='let filme of animacao'><img *ngIf="filme.poster_path" (click)='goToDetails(filme)' src="{{'https://image.tmdb.org/t/p/w200'+ filme.poster_path}}"/></span>
    </ion-scroll>  

    <h5>Documentário</h5>
    <ion-scroll scrollX="true" no-padding>
      <span *ngFor='let filme of documentario'><img *ngIf="filme.poster_path" (click)='goToDetails(filme)' src="{{'https://image.tmdb.org/t/p/w200'+ filme.poster_path}}"/></span>
    </ion-scroll>
  </div>
</ion-content>
