page-movies {
  h4 {
    color: $white;
  }
  ion-scroll {
      white-space: nowrap;
      height: 40vw;
      .scroll-content {
          padding: 0 !important;
          overflow-y: hidden;
          img {
              margin-right: 7px;
              width: 27vw;
          }
      }
  }
  .logo {
    padding-left: 35px;
  }
  .title-ios {
    padding-left: 80px;
  }
  ion-searchbar {
    .searchbar-input {
      color: $white !important;
      background-color: #262626 !important;
    }
    .searchbar-input::-webkit-input-placeholder {
      color: $white;
    }
  }
}
